::-webkit-input-placeholder { color:#000; }
::-moz-placeholder { color:#000; } /* firefox 19+ */
:-ms-input-placeholder { color:#000; } /* ie */
input:-moz-placeholder { color:#000; }

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 0px;
  color: #5a5a5a;
  font-family : 'Roboto', Helvetica, Arial, sans-serif; 
  font-weight: 300;
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

h1 {
  font-family: 'Roboto', sans-serif; 
  font-weight: 300;
  font-size: 34px;
  letter-spacing : 0.34px;
  color : #FFFFFF;
  padding-bottom: 50px;
  letter-spacing : 0.9px;
  line-height: 150%;
}

h2 {
  font-family: 'Roboto', sans-serif; 
  font-weight: 300;
  font-size: 24px;
  letter-spacing : 0.34px;
  color : #FFFFFF;
  padding-bottom: 50px;
  letter-spacing : 0.9px;
  line-height: 150%;
}

p {
  font-family : 'Roboto', Helvetica, Arial, sans-serif; 
  font-weight: 300;
  font-size : 16px;
  line-height : 24px;
  letter-spacing : 0.4px;
  color : #4A4A49;
}


.container-fluid {
  margin-left:auto;
  margin-right:auto;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  margin-top: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-nav {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
  font-family : 'Roboto', Helvetica, Arial, sans-serif; font-weight: 300;
  font-size : 16px;
  line-height: 44px;
  letter-spacing : 0.4px;
  color : #FFFFFF;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}


.navbar-wrapper > .container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-top:0;
  padding-top:0;
}
.navbar-wrapper .navbar {
  padding-right: 0px 0px;
}
.navbar-wrapper .navbar .container-fluid {
  width: auto;
}

.navbar-inverse {
  background: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background: rgba(255, 255, 255, 0);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: rgba(255, 255, 255, 0) !important; ;
}

.navbar-header {
  height: 70px;
}

.navbar-brand {
  padding-left: 0px;
}



/* CUSTOMIZE THE JUMBOTRON
-------------------------------------------------- */

.jumbotron {
  text-align: center;
  margin-bottom: 0px;
  background-image:url('images/jumbotron.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.95;
  height: 700px;
  padding-bottom:0;
}

.jumbotron .container-fluid {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.jumbotron h1 {
  font-size: 34px;
  color : #FFFFFF;
  padding-bottom: 50px;
  letter-spacing : 0.9px;
  line-height: 150%
}

.jumbotron .boldH1 {
  font-family: 'Roboto', sans-serif; font-weight: 500;
}


.jumbotron p {
  font-family :'Roboto', Helvetica, Arial, sans-serif; font-weight: 300;
  color : #FFFFFF;
  padding-bottom: 40px;
  font-size : 16px;
  line-height : 24px;
  letter-spacing : 0.4px;
}

.jumbotron .boldp {
  font-weight: 500;
}

.about-jumbo {
  background : #022337;
  opacity: 1;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing .col-md-* {
  margin-bottom: 20px;
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
  font-family : 'Roboto', Helvetica, Arial, sans-serif; 
  font-weight: 300;
  padding-bottom: 0px;
}
.marketing .col-md-* p {
  margin-right: 10px;
  margin-left: 10px;
}

.marketing p {
  line-height : 24px;
  letter-spacing : 0.4px;
  color : #4A4A49;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom:0;
}

.marketing h1 {
  text-align: center;
  font-family : 'Roboto', Helvetica, Arial, sans-serif; font-weight: 300;
  font-size : 34px;
  letter-spacing : 0.9px;
  color : #022337;
}

.marketing {
  text-align: center;
}

.marketing .btn {
    position: absolute:
    top: 50%;
}

.marketing-wrapper {
  background : #EEEDEB;
  margin-top:0;
  padding-bottom:80px;
  padding-top:30px;
}

.marketing-wrapper h1 {
    padding-bottom:50px;
    margin-bottom:0px;
}

.marketing-wrapper p {
  line-height : 25px;
  letter-spacing : 0.96px;
  color : #4A4A49;
}

.marketing-wrapper img {
  width: 200px;
}

.marketing-wrapper2 {
  margin-top:50px;
  margin-bottom:50px;
  padding-bottom:50px;
}

.marketing-wrapper2 .marketing .benefits-body {
  text-align: left;
}

.marketing-wrapper2 h1 {
  padding-bottom:80px;
  margin-bottom: 0px;
}

.marketing-wrapper2 button {
  margin-top: 30px;
}

.marketing-wrapper2 img{
  width:50px;
}

.benefits-body {
  padding-left:80px;
  padding-right:20px;
  padding-bottom:60px;
}

.benefits-head {
  color: #3BB0C9;
  padding-bottom: 0;
  margin-bottom:0;
}

.marketing-wrapper2 .marketing .img-circle {
  padding-top: 20px;
}

.marketing h2 {
  color: #3BB0C9;
}

.test {
  vertical-align:middle;
}

/* ABOUT SECTION
------------------------- */
.section-wrap {
  max-width: 1064px;
}

.about-section-top {
  background : #022337;
  opacity: 1;
  padding-top:0px;
  padding-bottom: 100px;
}

.about-section-top h1 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.about-section-top p {
  color : #FFFFFF;
}

.about-section-1, .about-section-2 {
  padding-top: 80px;
  padding-bottom: 100px;
}

.about-section-1 h1, .about-section-2 h1 {
  font-family: 'Roboto', sans-serif; font-weight: 300;
  padding-bottom: 20px;
  color : #55565A;
}

.about-section-1 p, .about-section-2 p {
  color : #55565A;
}

.about-section-1 img {
  padding-top: 0px;
}

.about-section-2 img {
  padding-top: 0px;
}

.about-section-1 button {
  margin-top: 50px;
}

.about-section-2 {
  background : #EEEDEB;
}


/* CONTACT PAGE
------------------------- */

.contact-top {
  background : #022337;
  height: 70px;
  width: 100%;
}

.contact-main {
  text-align: center;
  padding-bottom: 120px;
}

.contact-main h1 {
  color : #4A4A49;

}

.contact-main p {
  padding-bottom: 30px;
}

.contact-image img {
  width: 70%;
  padding-top:70px;
}

/* TEAM PAGE
    ================================================== */

.team-top {
  background : #EEEDEB;
  padding-top: 80px;
  padding-bottom: 70px;
} 

.team-top h1 {
  padding-bottom:30px;
}

.team-top p {
  text-align: justify;
}

.team-item-wrap {
  padding-top:70px;
}

.team-item-wrap p {
  margin-bottom:0;
  text-align: justify;
}

.team-head {
  color: #3BB0C9;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.team-item-wrap img {
  padding-bottom: 30px;
  width:60%;
  height:auto;
  margin-left:auto;
  margin-right:auto;
}

.team-main p {
  padding-bottom: 20px;
  padding-top:20px;
}

/* BLOG PAGE
    ================================================== */

.blog-wrap {
  padding-top: 50px;
  padding-bottom:100px;
}

.blog-wrap h1 a, .blog-wrap h1 {
  color : #4A4A49;
  padding-bottom:10px;
}

.blog-wrap h1 {
  padding-bottom:10px;
}

.blog-wrap img {
  width:100%;
  height:auto;
  padding-bottom:20px;
}

.blog-wrap .sidebar-popular a img {
  width:50%;
  float:left;
}

.sidebar-popular .populartext {
  float:right;
  width:50%;
  padding-left: 10px;
}

.blog-wrap .post-cust {
  padding-bottom:50px;
}

.blog-wrap .post-cust p {
  padding-bottom:10px;
}

.blog-wrap p a {
  color : #3BB0C9;
}

.sidebarblog {
  padding-left:120px;
}

.sidebarblog h2 {
  font-size: 15px;
  color : #4A4A49;
  text-decoration : underline;
  padding-bottom: 10px;
}

.sidebar-* {
  padding-bottom:20px;
}

.sidebar-newsletter {
  padding-top:20px;
}

.sidebar-popular {
  padding-top:30px;
}

.sidebar-categories {
  padding-top:90px;
}

.sidebar-categories li {
  background-color: #EEEDEB;
  margin-bottom: 10px;
}

.sidebarblog li a {
  color: #4A4A49;
}

.sidebar-popular ul {
  list-style-type: none;
  padding-left:0px;
}

.break {
  clear:both;
}

.colourtitle {
  color: #3BB0C9;
}

.navigation {
  padding-top: 30px;
}

.comment-cust .commentlist li a {
  color: #3BB0C9;
}

.comment-cust .comment {
  margin-bottom: 20px;
}

.comment-cust p {
  margin-top: 20px;
}

.comment-cust #respond {
    padding-top: 20px;
}

/* TERMS/POLICY PAGES
    ================================================== */


.terms-wrap {
    padding-top:70px;
    padding-bottom:70px;
}

.terms-wrap p {
  padding-bottom:10px;
  padding-top:20px;
  text-align: left;
}

.terms-wrap li {
  padding-bottom:10px;
  padding-top:20px;
}

.terms-wrap h2, .terms-wrap h3 {
  text-align: center;
  padding-bottom:20px;
  color: #022337;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* FOOTER
-------------------------------------------------- */
.footer {
  background-color: #EEEDEB;
  padding-bottom: 40px;
}

.footer .textarea, .footer .textarea h3 {
/*  width:90%;
  margin-left:auto;
  margin-right:auto;*/
  font-family : 'Roboto', Helvetica, Arial, sans-serif; font-weight: 300;
  font-size : 16px;
  line-height : 25px;
  letter-spacing : 0.96px;
  color : #4A4A49;
}

.footer .textarea {
  color : #4A4A49;
  padding-top: 30px;
}

.footer .textarea h3 {
  color: #3BB0C9;
}

.footer .textarea p a {
  color : #4A4A49;
}

.footer .textarea p, .footer .textarea a {
  line-height: 20px;
}

footer img {
  padding-top:10px;
}

/* CUSTOMISE FORMS
-------------------------------------------------- */

.btn-group-lg>.btn, .btn-lg {
  width: 100%;
}

.btn-primary {
  background-color: #3BB0C9;
  border-color: #3BB0C9;
  width: 100%; 
}

.form-custom {
  width: 50%;
}

/* Same as alert */
.wpcf7-response-output {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent !important;
  border-radius: 4px;
}

/* Same as alert-info */
.wpcf7-display-none {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* Same as alert-success */
.wpcf7-mail-sent-ok {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  line-height: 40px;
}

/* Same as alert-danger */
.wpcf7-validation-errors, .wpcf7-mail-sent-ng {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 0px;
  }
  .navbar-wrapper .container-fluid {
    padding-right: 10px;
    padding-left: 10px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media only screen and (max-width: 766px) {
.collapsing, .in {background-color: #022337;}
.collapsing ul li a, .in ul li a {color: #fff!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: #f1f1f1!important;}
}

/*-------------------------*/



.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #EDEFF1;
}
.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}



.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/* BUTTONS
    ================================================== */


.button-link { 
  width: 100px; 
  height: 50px; 
  background-color: #022337;
} 

.color1 { 
  background-color: #022337; 
  border-color: #022337; 
} 

.btn-primary:hover { 
  background-color: #022337; 
  border-color: #022337; 
} 

.email-submit {
  width:100%;
  height:30px;
  display:block;
  position:relative;
}

.email-submit .email1 {
  width:70%;
  float:left;
}

.email-submit .submit1 {
  width:30%;
  float:right;
}

.email-submit .email2 {
  width:100%;
}

.email-submit .submit2 {
  width:100%;
  padding-top:10px;
}

.email-cust {
  border-top-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 4px;
}
.submit-cust {
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0px;
}


